<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelCost - AI</title>
    <link rel="stylesheet" href="{% static 'css/gemini.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
</head>
<body>

  



    <div class="page-container">

        <button class="back-button" id="back-button" title="Go Back">
            <i class="fas fa-arrow-left"></i>
            <span class="back-text">Back</span>
        </button>

        <div class="profile-picture" id="profile-picture">
            <img src="{{ user.profile.image.url }}" alt="User Profile Picture">
        </div>

        <div class="chat-messages-container">
            <div class="chat-messages" id="chat-messages">
                <div class="message initial-greeting">
                    <span>Hello, {{ user.get_full_name }}</span>
                    <p class="disclaimer" style="font-size: 1rem;">Let’s find the perfect travel plan for you – start by sharing what you’re looking for!</p>
                </div>
                <!-- Chat messages will appear here -->
            </div>
        </div>

        <footer class="chat-input-area">
            <div class="input-wrapper">
                <form id="chat-form" class="chat-form">
                    <input type="text" id="prompt" name="prompt" placeholder="Start describing here" required autocomplete="off">
                    <button type="submit" id="send-button" aria-label="Send Message">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                </form>
                <p class="disclaimer">Please describe your reading preferences in detail for the best category recommendations.</p>
            </div>
        </footer>
    </div>




    <script type="module" src="https://cdn.jsdelivr.net/npm/@google/generative-ai/+esm"></script>

    <script src="{% static 'javaScript/marked.min.js' %}"></script>
    <script type="module" src="{% static 'javaScript/gemini-bookverse.js' %}"></script>
{#    <script type="module" src="{% static 'javaScript/gemini2.js' %}"></script>#}
    <script src="{% static 'javaScript/highlight.min.js' %}"></script>
    <script src="{% static 'javaScript/scripts.js' %}"></script>




</body>
</html>