{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div class="userProfileMain">
    
    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->
        

        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
            {% if request.user.profile.image %}
                <figure><img src="{{request.user.profile.image.url}}" width="250px" height="250px" alt="logo"></figure>
            {% else %}
                <figure><img  src="{%  static 'image/icon/profile.png' %}" width="250px" height="250px" alt="logo"></figure>
            {% endif %}

            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="work">
                <h1 >User Name: {{request.user.username}} </h1>

                <div class="basic_info">
                <h1 >Basic Information</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Birthday:</h1>
                        <span class="info">Dec 25, 2000</span>
                    </li>

                    <li class="sex">
                        <h1 class="label">Gender:</h1>
                        <span class="info">Male</span>
                        <h1 class="label">Country:</h1>
                        <span class="info">{{request.user.profile.country}}</span>
                    </li>
                </ul>
            </div>
                {% comment %} <div class="primary">
                    <h1>Spotify New York</h1>
                    <span>Primary</span>
                    <p>170 William Street <br> New York, NY 10038-212-315-51</p>
                </div>

                <div class="secondary">
                    <h1>Metropolitan <br> Museum</h1>
                    <span>Secondary</span>
                    <p>S34 E 65th Street <br> New York, NY 10651-78 156-187-60</p>
                </div> {% endcomment %}
            </div>


            
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name">{{request.user.first_name}} {{request.user.last_name}}</h1>
                <div class="map">
                    <i class="ri-map-pin-fill ri"></i>
                    
                </div>
                {% if request.user.profile.isRider %}            
                    <p><i class='fa fa-user'></i> Rider</p>
                {% else %} 
                
                <p><i class='fa fa-bicycle'></i> Driver</p>
                {% endif %} 
                
            </div>

            <div class="rank">
                <h1 class="heading">Rating</h1>
                <span>{{request.user.profile.rate}}/5.0</span>
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                </div>
            </div>

            <div class="btns">
                <ul>
                    <li class="sendMsg">
                        <i class="ri-chat-4-fill ri"></i>
                        <a href="#">Send Message</a>
                    </li>

                    <li class="sendMsg active">
                        <i class="ri-check-fill ri"></i>
                        <a href="#">Contacts</a>
                    </li>

                    <li class="sendMsg">
                        <a href="#">Report User</a>
                    </li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    <li class="timeline">
                        <i class="ri-eye-fill ri"></i>
                        <span>Timeline</span>
                    </li>

                    <li class="about active">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_Info">
                <h1 class="heading">Contact Information</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">Phone:</h1>
                        <span class="info">{{request.user.profile.phone}}</span>
                    </li>

                    <li class="address">
                        <h1 class="label">Address:</h1>
                        <span class="info">{{request.user.profile.address}}</span>
                    </li>

                    <li class="email">
                        <h1 class="label">E-mail:</h1>
                        <span class="info">{{request.user.email}}</span>
                    </li>

                    <li class="site">
                        <h1 class="label">Site:</h1>
                        <span class="info">www.rsmarquetech.com</span>
                    </li>
                </ul>
            </div>

            
        </section>
    </div>


      

{% endblock %}