{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<div class="userProfileMain">

    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                {% if request.user.profile.image %}
                <figure><img src="{{request.user.profile.image.url}}" width="250px" height="250px" alt="logo"></figure>
                {% else %}
                <figure><img src="{%  static 'image/icon/profile.png' %}" width="250px" height="250px" alt="logo">
                </figure>
                {% endif %}

            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="work">
                <h1 style="font-size: 175%;">Basic Information</h1>
                <br>
                <h1>User Name: {{request.user.username}} </h1>

                <div class="basic_info">
                    <ul>
                        <li class="birthday">
                            <b class="label">Birthday:</b>
                            {{request.user.birthday}}

                        </li>

                        <li class="sex">
                            <b class="label">Country:</b>
                            {{request.user.profile.country}}
                        </li>
                    </ul>
                </div>
                {% comment %} <div class="primary">
                    <h1>Spotify New York</h1>
                    <span>Primary</span>
                    <p>170 William Street <br> New York, NY 10038-212-315-51</p>
                </div>

                <div class="secondary">
                    <h1>Metropolitan <br> Museum</h1>
                    <span>Secondary</span>
                    <p>S34 E 65th Street <br> New York, NY 10651-78 156-187-60</p>
                </div> {% endcomment %}
            </div>



        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name">{{request.user.first_name}} {{request.user.last_name}}</h1>
                <div class="map">
                    <i class="ri-map-pin-fill ri"></i>

                </div>
                <br>
                {% if request.user.profile.isRider %}
                <p><i class='fa fa-user'></i> Rider</p>
                {% else %}

                <p><i class='fa fa-bicycle'></i> Driver</p>
                {% endif %}

            </div>

            <div class="rank">
                <b>Rating :</b>
                {{request.user.profile.rate}}/5.0
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                </div>
            </div>

            <div class="btns">
                <ul>
                    <li class="sendMsg">
                        <a href="#" class="profileButton">Send Message</a>
                    </li>

                    <li class="sendMsg">
                        <a href="#" class="profileButton">Report User</a>

                    </li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>


                    <li class="about active">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_Info">
                <h1 style="font-size: 172%;">Contact Information</h1>
                <br>
                <ul>
                    <li class="phone">
                        <b>Phone:</b>
                        {{request.user.profile.phone}}
                    </li>

                    <li class="address">
                        <b>Address:</b>
                        {{request.user.profile.address}}
                    </li>

                    <li class="email">
                        <b>E-mail:</b>
                        {{request.user.email}}
                    </li>


                </ul>
            </div>


        </section>
    </div>




    {% endblock %}