{% extends "../base/base.html" %}
{% load static %}
{% block content %}
<main class="postTable" id="customers_table">
        <section class="table__header">
            <h1>Customer's Orders</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="images/search.png" alt="">
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Profile<span class="icon-arrow">&UpArrow;</span></th>
                        <th> Name <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Location <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Date <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Day <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Price <span class="icon-arrow">&UpArrow;</span></th>
                        <th>  <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                {% for p in schedulePost %}
                    {% if p.pending %}
                    <tr>
                        
                        <td>
                        {% if p.rider_id.image %}
                            <img src="{{p.rider_id.image.url}}" height="70" width="70" alt="logo">
                        {% else %} 
                            <img src="{%  static 'image/icon/profile.png' %}" height="70" width="70" alt="logo">    
                        {% endif %} 
                        </td>
                        <td> {{p.rider_id}}</td>
                        <td>{{p.pickup_from}} - {{p.drop_to}} </td>
                        <td> {{p.startDate}} to {{p.endDate}} </td>
                        <td>
                            <p class="status delivered">Delivered</p>
                        </td>
                        <td> <strong> {{p.price}}TK </strong></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </section>
</main>
<script src="{% static 'javaScript/script.js' %}"></script>


{% endblock %}